  <footer>
    <p>&copy; 2024 Iván Blánquez Romero</p>
    <ul class="social-links">
      <li>
        <a href="{{ site.author.social.x }}" target="_blank">
          <img src="{{ '/assets/images/x.svg' | relative_url }}" alt="X Logo" width="30" height="30">
        </a>
      </li>
      <li>
        <a href="{{ site.author.social.linkedin }}" target="_blank">
          <img src="{{ '/assets/images/linkedin.svg' | relative_url }}" alt="LinkedIn Logo" width="30" height="30">
        </a>
      </li>
      <li>
        <a href="{{ site.author.social.devto }}" target="_blank">
          <img src="{{ '/assets/images/dev.svg' | relative_url }}" alt="Dev.to Logo" width="30" height="30">
        </a>
      </li>
      <li>
        <a href="{{ site.author.social.github }}" target="_blank">
          <img src="{{ '/assets/images/github.svg' | relative_url }}" alt="GitHub Logo" width="30" height="30">
        </a>
      </li>
      <li>
        <a href="{{ site.author.social.stackshare }}" target="_blank">
          <img src="{{ '/assets/images/stackshare.svg' | relative_url }}" alt="Stackshare Logo" width="30" height="30">
        </a>
      </li>
    </ul>
  </footer>
  